body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f0fdf4;
    overflow: hidden;
}

.screen { height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; }
.hidden { display: none !important; }

#status-panel {
    position: fixed;
    top: 20px;
    width: 90%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 20px;
    z-index: 100;
    border: 3px solid #ccc;
    transition: 0.3s;
}

/* Dinamik Renkler */
.status-plastik { border-color: #fbbf24; }
.status-karton { border-color: #3b82f6; }
.status-cam { border-color: #10b981; }

#webcam-container canvas {
    width: 100% !important;
    height: auto !important;
    border-radius: 20px;
    border: 5px solid #22c55e;
}

button {
    background-color: #22c55e;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 10px;
}